calculator-ffi/target
calculator-ffi/Cargo.lock

calculator-ffi/ffi-bindgen/target
calculator-ffi/ffi-bindgen/Cargo.lock

.idea/
calculator-bindings.iml
libcalculatorffi.so
calculator.kt
local.properties
.DS_Store
