target
Cargo.lock

.idea/
calculator-bindings.iml
libcalculatorffi.so
calculator.kt
local.properties
.DS_Store

# swift related
/.build
/.swiftpm
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
calculatorFFI.xcframework.zip
calculatorFFI
*.a
Calculator.swift
calculatorFFI.h
.build
.swiftpm